ion-toolbar{
    --background: #C3DBB7;
}

.itemDetails{
    text-align: center;
    background-color: #C3DBB7;
    font-weight: bold;
}

.items{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.event-font{
    font-size: 18px;
  }
.event-font-italic{
    font-size: 16px;
    color: #333;
    font-style: italic;
  }

.marginTL10 {
  margin: 2% 3%;
}

ion-textarea {
    overflow-y: scroll;
        height: auto;
        resize: none;
  }

  .row-padd{
    padding: 0.5% 3%;
  }
  .searchIcon{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

// ion-content{
//     --overflow: hidden;
// }
