ion-toolbar{
    --background: #C3DBB7;
}

.itemDetails{
    text-align: center;
    background-color: #C3DBB7;
    font-weight: bold;
}

.items{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.marginTL10 {
  margin: 2% 3%;
}

ion-content{
    font-size: 25px;
}

.btns{
    text-align: center;
    margin-top: 25%;
}